{
  "$schema": "http://json.schemastore.org/prettierrc",
  "pluginSearchDirs": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "@standard-configs/prettier-plugin",
    "prettier-plugin-sh"
  ],
  "quoteProps": "consistent",
  "importOrder": ["^src/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["*ignore"],
      "options": {
        "parser": "ignore"
      }
    }
  ]
}
